<?xml version="1.0"?>
<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->
<configuration>
  <system.web>
    <!--<compilation debug="true" targetFramework="4.0">-->
    <compilation debug="true" defaultLanguage="C#" targetFramework="4.5" >
      <assemblies>
        <!--<add assembly="office, Version=14.0.0.0, Culture=neutral, PublicKeyToken=71E9BCE111E9429C"/>
				<add assembly="Microsoft.Vbe.Interop, Version=14.0.0.0, Culture=neutral, PublicKeyToken=71E9BCE111E9429C"/>-->
      </assemblies>
    </compilation>
  </system.web>
  <connectionStrings>
    <!--<add name="parle" connectionString="data source=136.232.4.170;initial catalog=Material2019;uid=sms; password=sms2013;MultipleActiveResultSets=False;Packet Size=4096;Application Name=&quot;Microsoft SQL Server Management Studio&quot;" providerName="System.Data.SqlClient"/>
    <add name="parlefinance" connectionString="data source=103.39.132.82;initial catalog=ParleFinance;uid=sa; password=year@123;MultipleActiveResultSets=False;Packet Size=4096;Application Name=&quot;Microsoft SQL Server Management Studio&quot;" providerName="System.Data.SqlClient"/>-->
    <!--<add name="conn" connectionString="Data source=103.39.132.82;Initial Catalog=BaghaHRMS; user id = baghahrms;  password =hrmsbag@2019; Max Pool Size=500;" providerName="System.Data.sqlClient"/>-->
    <!--<add name="conn" connectionString="Data source=103.39.132.82;Initial Catalog=Fed1920; user id = fed;  password =fed@2020; Max Pool Size=500;" providerName="System.Data.sqlClient"/>-->
    <!--<add name="conn" connectionString="Data source=103.76.248.50;Initial Catalog=Parle_201920; user id = copcane;  password =cane201920@data^%$; Max Pool Size=500;" providerName="System.Data.sqlClient"/>-->
    <add name="conn" connectionString="data source=103.102.234.246;initial catalog=satyello;uid=stay;password=?9Qsc4u5;MultipleActiveResultSets=False;Packet Size=4096;Application Name=&quot;Microsoft SQL Server Management Studio&quot;" providerName="System.Data.SqlClient; Integrated Security=SSPI; Min Pool Size=10; Max Pool Size=100"/>
  </connectionStrings>
  <system.web>
    <customErrors mode="Off"/>
    <!--<pages enableViewStateMac="false" viewStateEncryptionMode="Never" enableEventValidation="false"/>-->
    <machineKey validationKey="39E4DDE638CC691434CB769D1FFC561812C153EEE95DE554F03473C185302A7B4AE7D66FD0B9C686FDD07FD75F4915D281DFF3D57736C1FECCAEC58BBB8A6E16" decryptionKey="A4A34B437D4A4F5749CEC95E8158E28C4A6D2FAE2459310F" validation="SHA1" decryption="AES" />
    <sessionState mode="StateServer" timeout="60" />
  </system.web>
  <appSettings>
    <add key="ValidationSettings:UnobtrusiveValidationMode" value="None" />
    <add key="PageInspector:ServerCodeMappingSupport" value="Disabled"/>
  </appSettings>
  
  <system.serviceModel>
    <behaviors>
      <serviceBehaviors>
        <behavior name="">
          <serviceMetadata httpGetEnabled="true"/>
          <serviceDebug includeExceptionDetailInFaults="false"/>
        </behavior>
      </serviceBehaviors>
    </behaviors>
    <!--<serviceHostingEnvironment multipleSiteBindingsEnabled="true" />-->
  </system.serviceModel>
</configuration>